*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0 auto;
    min-width:1000px;
    max-width:2000px;
}

header{
    background-color: rgb(255, 193, 7);
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    z-index: 1;
    box-shadow: 0px -4px 13px 0px;
}

header a{
    margin: 0 auto;
}

.navigation{
    background-color: rgb(231, 181, 87);
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* box-shadow: inset 0px 8px 8px -10px; */
}

.navigation ul{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px; /* é a margin dentro do flex */
}

.navigation__itens{
    list-style: none;
}

.navigation__itens a{
    text-decoration: none;
    color: white;    
}

.main{
    display: flex;
    margin: 50px;
}

.main__article{
    width: 60%;
    height: auto;
    /* background-color: greenyellow; */
}

.main__sideRight{
    width: 40%;
    height: auto;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main__sideRight__receita{
    width: 70%;
    /* background-color: aquamarine; */
    margin: 0 auto;
    text-align: center;
    box-shadow:  0px 4px 4px black;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;    
}

.main__sideRight__receita img{
    width: 100%;
    margin-top: 30px;
    margin: 0 auto;
}

.main__sideRight h2{
    margin-top: 24px;
    margin-bottom:10px ;
    color: rgb(231, 181, 87);
}

.main__sideRight p{
    margin: auto 0;
    font-size: 24px;
}

.main__article__first{
    width: 100%;
    margin-bottom: 50px;
    /* background-color: aqua; */
}

.main__article__first h1{
    width: 100%;
    margin-bottom: 10px;
    color: rgb(231, 181, 87);
    /* background-color: aquamarine; */
} 

.main__article__first img{
    width: 70%;
    height: 300px;

}

.main__article__first p{
    width: 70%;
    margin-top: 5px;
    text-align: justify;

} 

.main__article__first__item{
    color: green;
    display: flex;
    gap: 30px;
    margin-bottom:30px ;
    width: 70%;
    /* background-color: black; */
}

.main__article__first__item p{
    width: auto;
    border: 1px solid green;
    border-radius: 50px;
    padding: 0 5px;
}

.main__article__first iframe{
    margin: 10px 0;
    width: 70%;
    height: 300px;
}

.rodape{
    background-color: rgb(255, 193, 7);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.rodape p{
    color: white;
    font-size: 24px;
    width: 33%;
    padding: 0 5px;
    margin: auto 0;
}

@media screen and (max-width:800px) {

    .main__article{
        width: 100%;
    }

    .main__sideRight{
        display: none;
    }

    .rodape p{
        font-size: 20px;
    }

}